/* ASIDE */

aside {
    max-width: 3.125rem;
    background-color: black;
    padding-top: 0.3125rem;
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
}

.aside-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.aside-up {
    text-align: center;
}

.mobile img {
    margin-bottom: 0.625rem;
    width:90%;
    filter: opacity(0.5);
}

a:first-of-type img{
    filter: opacity(1);
}

.aside-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: 20px;
}

.download {
    width: 0.9375rem;
    height: 0.9375rem;
}

.profile {
    width: 1.875rem;
    height: 1.875rem;
    background-color: #808080;
    border-radius: 100%;
}

.profile img {
    object-fit: cover;
    border-radius: 100%;
}

.web {
    display: none;
}

/* RESPONSIVE */

/* Tablet e Desktop */
@media screen and (min-width:700px){

    .web {
        display: block;
    }

    .mobile {
        display: none;
    }

    .logo {
        height: 5.625rem;
    }

    .aside-container {
        display: flex;
        flex-direction: column;
        align-items: left;
        height: 100%;
    }

    aside {
        min-width: 14.375rem;
        padding: 1.25rem 3rem 0.3125rem 1.25rem;
        position: relative;
    }

    .aside-up {
        display: flex;
        flex-direction: column;
        text-align: left;
        overflow-y: hidden;
    }

    .aside-down {
        display: flex;
        flex-direction: column;
        justify-content:flex-end ;
        margin-top: auto;
    }

    .aside-buttons img {
        width: 30px;
        height: 30px;
    }

    .nav-buttons img {
        margin-bottom: 0px;
        margin-right: 10px;
    }

    .plus {
        height: 45px;
        width: 45px;
        background-color: #a3a3a3;
        color: black;
        text-align: center;
        font-size: 35px;
        display: inline-block;
        margin-right: 10px;
    }

    .playlist-title {
        margin-bottom: 20px;
    }
    .list-title {
        margin-bottom:  10px;
    }

    li {
        margin-bottom: 10px;
    }

    .web img, a, li {
        filter: opacity(0.5);
    }

    .playlist-list {
        overflow-y: auto;
    }

    .profilew img {
        margin-right:20px;
    }

    .profilew {
        display: inline-block;
    }

    .doe {
        align-items: center;
        margin-top:10px;
        padding-top :10px;
        border-top: 1px solid gray;
    }
    
}