/* ASIDE */

aside {
    max-width: 3.125rem;
    background-color: black;
    padding-top: 0.3125rem;
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
}

.aside-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.aside-up {
    text-align: center;
}

aside {
    position: relative;
}

.acid-green {
    height: 30px;
    width: 3px;
    background-color: #adff2f;
    position: absolute;
    left: 0;
}

.mobile img {
    margin-bottom: 0.625rem;
    width:90%;
    opacity: 0.5;
}

a:first-of-type img{
   opacity: 1;
}

.aside-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: 1.25rem;
}

.download {
    width: 0.9375rem;
    height: 0.9375rem;
    margin-right: 0.625rem;
}

.profile {
    width: 1.875rem;
    height: 1.875rem;
    background-color: #808080;
    border-radius: 100%;
}

.profile img {
    object-fit: cover;
    border-radius: 100%;
}

.web {
    display: none;
}

/* HOVER */

.mobile img:hover {
    opacity: 1;
}

/* RESPONSIVE */

/* Tablet e Desktop */
@media screen and (min-width:700px){

    .web {
        display: block;
    }

    .mobile {
        display: none;
    }

    .logo {
        height: 5.625rem;
    }

    .logo img, .logo a, .nav-buttons:first-child img, .nav-buttons:first-child a {
        opacity:1;
    }

    .aside-container {
        display: flex;
        flex-direction: column;
        align-items: left;
        height: 100%;
    }

    aside {
        min-width: 14.375rem;
        padding: 1.25rem 3rem 0.3125rem 1.25rem;
        position: relative;
    }

    .aside-up {
        display: flex;
        flex-direction: column;
        text-align: left;
        overflow-y: hidden;
    }

    .aside-down {
        display: flex;
        flex-direction: column;
        justify-content:flex-end ;
        margin-top: auto;
        align-items:flex-start;
    }

    .aside-buttons img {
        width: 1.875rem;
        height: 1.875rem;
    }

    .nav-buttons img {
        margin-bottom: 0rem;
        margin-right: 0.625rem;
    }

    .plus {
        height: 2.8125rem;
        width: 2.8125rem;
        background-color: #a3a3a3;
        color: black;
        text-align: center;
        font-size: 2.1875rem;
        display: inline-block;
        margin-right: 0.625rem;
    }

    .playlist-title {
        margin-bottom: 1.25rem;
    }
    .list-title {
        margin-bottom:  0.625rem;
    }

    li {
        margin-bottom: 0.625rem;
    }

    .web img, a {
        opacity: 0.5;
     }

    .playlist-list {
        overflow-y: auto;
    }

    .download {
        width: 100%;
    }

    .down-icon img {
        width: 1.25rem;
        margin-right: 0.625rem;
    }
    
    .doe {
        margin-top:0.625rem;
        padding-top :0.625rem;
        border-top: 0.0625rem solid gray;
    }

    .doe-pic {
        width: 1.875rem;
        height: 1.875rem;
        background-color: #808080;
        border-radius: 100%;
        margin-right: 0.625rem;
    }

    .pro-web {
        align-items:center ;
    }
    
    .pro-web img {
        object-fit: cover;
        border-radius: 100%;
    }

    /* HOVER */

.nav-buttons:hover img,  .nav-buttons:hover a {
    opacity:1;
}

.playlist-list a:hover, .download a:hover {
    opacity:1;
}
    
}