/* FOOTER */

footer {
    position:sticky;
    bottom:0;
    left: 0;
    right:0;
    height: 5rem;
    background-color: #282828;
}

.playing {
    align-items: center ;
}

.song-controls {
    justify-content: space-between;
    height: 100%;
    padding: 0 1.25rem;
}

.left-controls, .right-controls {
    width: 30%;
    align-items: center;    
}

.center-controls {
    width: 40%;
    padding: 0.625rem;
    position: relative;
    align-items: flex-end;
    justify-content: space-around;
}

.commands {
    justify-content: space-around;
    margin-bottom: 0.625rem;
    width: 12.5rem;
    position: absolute;
    top: 0.625rem;
}

.title-song small {
    display: block;
    filter: opacity(0.5);
}

.left-controls img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.9375rem;
}

.actions {
    color: gray;
    padding-left: 1.25rem;
}

.play-line {
    width: 70%;
    background-color: #5a5a5a;
    border-radius: 1.25rem;
    margin: 0 1.25rem;
}

.light-line {
    height: 0.3125rem;
    width: 15%;
    background-color: #fff;
    border-radius: 1.25rem;
}

.dark-line {
    height: 0.3125rem;
    width: 85%;
}

.line small {
    font-size: 0.6rem;
}

.line {
    justify-content: center;
    width: 80%;
    margin-bottom: 0.625rem;
}

.fa-circle-play {
    font-size: 1.8rem;
}

.right-controls {
    justify-content: flex-end;
    padding-left: 1.25rem;
}

.right-controls i {
    margin-right: 0.625rem;
}

.right-controls .play-line {
    width: 50%;
}

.light-line {
    position: relative;
}

.dot {
    position: absolute;
    width: 10px;
    height:10px;
    background-color: #fff;
    border-radius: 100%;
    opacity: 0;
    top: -50%;
    left: 78%;
}

/* HOVER */

.actions i:hover {
    color:white;
}

.fa-circle-play:hover {
    transform: scale(110%);
}

.line:hover .light-line, .play-line:hover .light-line {
    background-color: #adff2f;
}

.play-line:hover .dot{
    opacity:1;
}