/* FOOTER */

footer {
    position:sticky;
    bottom:0;
    left: 0;
    right:0;
    height: 5rem;
    background-color: #282828;
}

.playing {
    align-items:center ;
}

.song-controls {
    justify-content: space-between;
    height: 100%;
    padding: 0 1.25rem;
}

.left-controls, .right-controls {
    width: 30%;
    align-items: center;    
}

.center-controls {
    width: 40%;
    padding: 0.625rem
}

.title-song small {
    display: block;
    filter: opacity(0.5);
}

.left-controls img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.9375rem;
}

.actions {
    filter: opacity(0.5);
    padding-left: 1.25rem;
}

.play-line {
    height: 5px;
    width: 70%;
    background-color: #5a5a5a;
    border-radius: 1.25rem;
}

.light-line {
    width: 15%;
    background-color: #fff;
    border-radius: 1.25rem;
}

.dark-line {
    width: 85%;
}

.line small {
    font-size: 0.6rem;
}

.line {
    justify-content: space-between;
    align-items: center;
}

.commands {
    justify-content: space-around;
    margin-bottom: 0.625rem;
    align-items: center;
}

.fa-circle-play {
    font-size: 2.1875rem;
}

.right-controls {
    justify-content: flex-end;
    padding-left: 1.25rem;
}

.right-controls i {
    margin-right: 0.625rem;
}

.right-controls .play-line {
    width: 50%;
}