/* MAIN */

main {
    overflow-y: auto;
    /* width: calc(100vw - 3.125rem); */
    background-color: brown;
}

/* HEADER */

header {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 0;
    left:12.5rem;
    top:0;
}